# MongoDB Permanent Storage Connection URI
MONGODB_URI=mongodb://sentejaswi66_db_user:jaishreeram00@ac-jtvjtgx-shard-00-00.cr6nypu.mongodb.net:27017,ac-jtvjtgx-shard-00-01.cr6nypu.mongodb.net:27017,ac-jtvjtgx-shard-00-02.cr6nypu.mongodb.net:27017/salon-db?ssl=true&replicaSet=atlas-h1vdo4-shard-0&authSource=admin&retryWrites=true&w=majority&appName=salon-db
